body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --secondary-bg-color: #102541;
  --nav-item-bg-color: #003060;
  --nav-item-border-color: #124477;
  --light-color: #f3f6f9;

  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
