.navBar {
  width: 16%;
  padding: 1rem;

  background-color: var(--secondary-bg-color);
}
.list {
  list-style: none;
  padding: 0;
}
.list li {
  margin-top: 0.5rem;
  height: 3rem;
  border-radius: 5px;
  transition-duration: 0.3s;
}
.list li:hover {
  background-color: var(--light-color);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.list a {
  display: block;

  padding-left: 1rem;
  height: 100%;

  line-height: 3rem;
  color: black;
  text-decoration: none;
}
